---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Link from '../components/Link.astro';
---

<Layout title="Hunter Park(ing) Day">
	<main class="flex flex-col items-center">
		FAQ
	</main>
</Layout>
