---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";
---

<Layout title="Home">
  <main class="flex flex-col items-center gap-4">
    <div
      class="flex flex-col gap-4 text-center items-center justify-center align-center w-full lg:w-3/4"
    >
      <Card>
        <div class="text-2xl">Hunter Deserves a Connected Campus</div>
        <div>
          <Link href="/walkable-68" sameWindow={true}
            >Read the Full Plan Here</Link
          >
        </div>

        <div class="grid grid-flow-row grid-cols-1 lg:grid-cols-2 gap-4">
          <div class="grid grid-cols-subgrid">
            <div class="underline decoration-dashed font-bold pb-2">
              Current Conditions at Hunter 68th:
            </div>
            <ul>
              <li>Severe overcrowding</li>
              <li>Lack of quad and communal space</li>
              <li>Rampant illegal parking on 68th</li>
              <li>
                Traffic causing delays on the M66, an important bus line for
                Hunter students
              </li>
              <li>High air pollution due to congestion</li>
            </ul>
          </div>

          <div class="grid grid-cols-subgrid">
            <div class="underline decoration-dashed font-bold pb-2">
              A Pedestrian-friendly 68th would:
            </div>
            <ul>
              <li>Relieve severe indoor overcrowding</li>
              <li>
                Promote campus culture with opportunities for spontaneous
                encounters
              </li>
              <li>
                Provide a true public space for community and students to mingle
              </li>
              <li>Provide opportunities for entrepreneurs</li>
              <li>Reduce air pollution</li>
            </ul>
          </div>
        </div>
      </Card>
      <div class="text-2xl font-extralight">
        Imagine 68th and Lex looking like this:
      </div>
      <img
        src="/68th_vision_design_hires.png"
        alt=""
        class="w-full rounded-lg neo-brutal"
      />
      <div class="text-2xl font-extralight">Instead of:</div>
      <img
        src="/68th_and_lex_existing_google.png"
        alt=""
        class="w-full rounded-lg neo-brutal"
      />
    </div>
  </main>
</Layout>
