---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Hunter Park(ing) Day">
	<main class="flex flex-col items-center px-4">
		<header class="flex flex-col items-center pb-8">
			<div class="text-6xl">Hunter College Park(ing) Day</div>
			<div class="text-xl">A day for us to do what this tagline says we will</div>
		</header>

		<div class="grid text-center items-center justify-center align-center grid-flow-row gap-2 grid-cols-1 lg:grid-cols-3 w-full lg:w-3/4">
			<Card>
					<div class="font-bold">
						Friday September 20 @ 12-7PM
					</div>
					<div class="font-bold">
						68th between Lexington and Park 
					</div>
			</Card>
			<div class="grid lg:col-span-2 lg:row-span-2">
					<iframe class="w-full h-[450px]" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d755.4324175440343!2d-73.96497739944846!3d40.76797009336347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDDCsDQ2JzA1LjIiTiA3M8KwNTcnNTIuOSJX!5e0!3m2!1sen!2sus!4v1724462235185!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<Card>
					<div>
						Come learn, lounge, chill, dance... anything except park your car on the curb.
					</div>
					<div>
						As part of <a href="https://www.myparkingday.org/" rel="noopener" target="_blank">Park(ing) Day 2024</a>,
						 Hunter Students and <a href="https://www.streetlab.org/" rel="noopener" target="_blank">Streetlab</a>
						 are turning a few parking spaces on 68th into a 🪩 party 🪩.
					</div>
			</Card>
		</div>
	</main>
</Layout>

<!-- <style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style> -->
