---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Open Letter">
  <main class="flex flex-col items-center gap-4">
    <div class="text-3xl">Our Open Letter</div>
    <Card>
      <div class="text-left flex flex-col gap-2">
        <p>
          We are the Placemakers of Hunter College, a group of students
          interested in urbanism that have come together to advocate for public
          space that better serves our college community.
        </p>

        <p>
          We are calling on the administration of Hunter College, members of our
          community, and New York City’s Department of Transportation to support
          the creation of an Open Street on 68th Street between Park Ave and
          Lexington Ave, linking the West and North Campus buildings of Hunter
          College, and creating a safe and vibrant place for people to gather.
          Pedestrianizing 68th Street is an opportunity to reconnect the campus
          and foster an enhanced sense of college identity.
        </p>

        <p>
          Hunter College has nearly 23,000 students (about the seating capacity
          of Madison Square Garden) packed into three buildings. When one
          searches “how many students are at Hunter College?”, Google’s
          suggestions for follow-up queries include “is Hunter College
          overcrowded?” and “Hunter College falling apart”. While the CUNY
          system is known to be “an engine of economic mobility for the city of
          New York”, the physical campus suffers from decades of disinvestment.
          Opening 68th street to the Hunter community and beyond would represent
          a meaningful investment from the city in the school, and in its
          working class, diverse student body. While the skybridges connecting
          our campus are an iconic part of our identity, they’re hardly spaces
          to gather. Pedestrianizing 68th Street would be a boon to the area
          beyond Hunter College as well; neighbors could enjoy more
          greenspace/open space, and local businesses stand to benefit, as Open
          Streets have been found to see an increase in consumer spending.
        </p>

        <p>
          This shift would not be unprecedented. Baruch College successfully
          pedestrianized a block of 25th Street, between Lexington and 3rd
          Avenue. Now known as Clivner Field Plaza, it has transformed from a
          drab and underutilized street to a thriving public space. The SUNY
          Fashion Institute of Technology (FIT) has also made changes to lessen
          traffic on West 27th Street, creating a distinct campus environment
          that’s still very much connected to the bustling neighborhood around
          it. This fall, the DOT launched 71 Open Streets at schools across the
          five boroughs, the greatest number since the program began, noting the
          benefits of reduced air pollution, noise, and traffic for students in
          particular. With college buildings and a K-12 school on the north and
          south sides of 68th Street, Hunter has a perfect opportunity to follow
          these blueprints and create a safer and healthier environment for
          learning as well as a more discrete campus realm.
        </p>
      </div>
    </Card>
  </main>
</Layout>
