---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pedestrianize 68th Plan">
  <main class="flex flex-col items-center gap-4">
    <div class="text-3xl">The Plan to Pedestrianize 68th</div>

    <object data="plan.pdf" type="application/pdf" class="w-full h-screen"
    ></object>
  </main>
</Layout>
