---
interface Props {
	title?: string;
	class?: string;
}

const { title, class: className } = Astro.props;
---

<div class:list={["bg-light rounded-lg h-full w-full p-4 text-center flex flex-col justify-center gap-2", className]}>
		{
			title &&
			<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		}
		<slot />
</div>
