---
interface Props {
	title?: string;
}

const { title, body } = Astro.props;
---

<div class="bg-pink-200 border-pink-500 rounded-lg h-full w-full p-4 text-center flex flex-col gap-2">
		{
			title &&
			<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		}
		<slot />
</div>
