---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Link from '../../components/Link.astro';
---

<Layout title="Hunter Park(ing) Day">
	<main class="flex flex-col items-center">
		<div class="grid text-center items-center justify-center align-center grid-flow-row gap-2 grid-cols-1 lg:grid-cols-3 w-full lg:w-3/4">
			<Card>
					<div class="font-bold">
						Friday September 20 @ 12-7PM
					</div>
					<div class="font-bold">
						<Link href="https://maps.app.goo.gl/aQXYzs9JTh42oPXZ9">68th between Lexington and Park</Link>
					</div>
					<div>
						We're turning the street into a park! Space to eat and lounge, live music, educational talks, and more on the street where people usually park their cars.
					</div>
			</Card>
			<Card>
				<div class="font-bold text-2xl">
					Events
				</div>
				<div>
					<span class="font-bold">12 PM</span> Park opens on 68th
				</div>
				<div>
					<span class="font-bold">1-3PM</span> DJ Danger Wagon plays a set
				</div>
				<div>
					<span class="font-bold">3-4PM</span> Talk by Hunter College Professor Pedestrian Walker on how big car scammed us
				</div>
				<div>
					<span class="font-bold">4-7PM</span> Hang out
				</div>
				<div>
					<span class="font-bold">7PM</span> Close
				</div>
			</Card>
			<div class="grid lg:row-span-2">
				<Card>
					<iframe class="w-full h-[450px] rounded-lg" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d755.4324175440343!2d-73.96497739944846!3d40.76797009336347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDDCsDQ2JzA1LjIiTiA3M8KwNTcnNTIuOSJX!5e0!3m2!1sen!2sus!4v1724462235185!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</Card>
			</div>
			<Card>
				<div>
					As part of <Link href="https://www.myparkingday.org/">Park(ing) Day 2024</Link>,
					 Hunter Students and <Link href="https://www.streetlab.org/">Streetlab</Link>
					 are turning a few parking spaces on 68th into a 🪩 party 🪩.
				</div>
				<div>
					Come learn, socialize, dance... anything except park your car on the curb.
				</div>
			</Card>
			<Link class="h-full" href='/faq' sameWindow={true}>
				<Card>
					FAQ
				</Card>
				</Link>
				<Card>
					<div class="font-bold">Sponsored By</div>
					<div class="flex flex-col gap-2 lg:flex-row justify-around">
						<Link href="https://www.streetlab.org/">
						<div class="flex flex-col gap-2 items-center">
							<img width=250 src="/streetlab_logo.png" alt="Streetlab Logo"/>
							<div class="text-2xl">Streetlab</div>
						</div>
					</Link>
					</div>
				</Card>
		</div>
	</main>
</Layout>
